*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #0a0c16;
}

.contenedor{
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.titulo{
    text-align: center;
    justify-content: center;
}

.titulo h3{
    padding: 4px;
    font-size: 3rem;
    color: #263238;
}

.input{
    margin-top: 20px;
}

.input textarea{
    text-align: center;
  padding: 30px;
  width: 75%;
  font-size: 1rem;
  background: white;
  border-color: #263238;
  border-radius: 33px;
  color: #263238;
  resize: none;
}

textarea:focus {
  outline: 0;
}

.voz{
    text-align: center;
    justify-content: center;
}

.voz ul li{
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #344e41;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #344e41;
    transition: all 0.3s ease;
}
.voz ul li:hover{
    color: #dad7cd;
    background: #344e41;
}



h1 {
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 8em; 
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}
