*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #081c15;
}

.contenedor{
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.titulo{
    text-align: center;
    justify-content: center;
}

.titulo h3{
    padding: 4px;
    font-size: 2.8rem;
    color: #d8f3dc;
}
.titulo .t2{
    color: #1b4332;
}

.input textarea{
    text-align: center;
  padding: 30px;
  width: 75%;
  font-size: 1rem;
  background-color: #081c15;
  border-radius: 4px;
  border-color: #2d6a4f;
  color: #d8f3dc;
  resize: none;
}

textarea:focus {
  outline: 0;
}