@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto+Serif:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', sans-serif;
}

body{
    background: #135EF2;
    text-align: center;
    justify-content: center;
}

/*Inicio*/
.inicioContainer{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 75px 0;
    overflow: hidden;
}

.productive{
    color: #fff;
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.productive_title{
    font-size: 6em;
    text-shadow: .03em .03em 0 #ffffffd7;
}

.productive_img{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

.productive_paragraph{
    line-height: 1.7;
    margin-bottom: 1em;
}

/**/
.contenedor{
    width: 95%;
    margin: 0 auto;
    padding: 55px 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2fr,auto);
}


.input{
    grid-column: span 6;
    grid-row: span 1;
    margin: 40px auto;
    background: #fff;
    width: 95%;
    border-radius: 20px;
}

.input textarea{
    margin-top: 6px;
    text-align: center;
    font-size: 18px;
    padding: 30px;
    width: 90%;
    height: 90px;
    max-height: 260px;
    font-size: 1rem;
    background: #fff;
    border-radius: 10px;
    border-color: #bfbfbf;
    outline: none;
    resize: none;
}

textarea:is(:focus, :valid){
    border-color: #135EF2;
    border-width: 2.5px;
    padding: 30px;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.voz{
    grid-column: span 6;
    grid-row: span 1;
    background: #fff;
    border-radius: 20px;
    width: 30%;
    margin: 0 auto;
    display: flex;
}

.voz i{
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 6px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #135EF2;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #135EF2;
    transition: all 0.3s ease;
}

.voz i:hover{
    color: #fff;
    background: #135EF2;
}

.voz i .stop{
    display: block;
}

.notas{
    grid-column: span 6;
    grid-row: span 1;
    margin: 40px auto;
    background: #fff;
    width: 95%;
    border-radius: 15px;
}
.notas p{
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 85%;
}

h1 {
    display: inline-block;
    color: #135EF2;
    font-size: 3.5em; 
    text-shadow: .03em .03em 0 #135df279;
    margin-top: 10px;
}

/*Footer*/

footer{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

footer .profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
footer.show .profile{
    display: none;
}
footer .profile .profile-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #4070f4;
    padding: 2px;
    margin-bottom: 10px;
}
.profile .profile-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.profile .name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.profile .profession{
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.692);
}
.profile .profession{
    font-weight: 500;
}
.profile .button{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background: #4070f4;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.profile .button:hover{
    background: #275df1;
}
.profile .button i{
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
}
.profile .button button{
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
}

footer .popup-outer{
    position: relative;
    display: none;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
footer.show .popup-outer{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
footer .popup-box{
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    max-width: 380px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
}
.popup-box .close img{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    width: 16px;
    height: 16px;
    color: #b4b4b4;
    cursor: pointer;
    transition: all 0.2s ease;
}
.popup-box .close img:hover{
    color: #333;
}
footer .popup-box .profile-text{
    display: flex;
    align-items: center;
}
footer .popup-box img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
} 
.profile-text .text{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.profile-text .text .name{
    font-size: 14px;
    font-weight: 400;
}
.profile-text .text .profession{
    font-size: 12px;
    font-weight: 500;
    color: #333;
}
footer .popup-box input:first-child{
    margin-top: 25px;
}
footer .popup-box input{
    width: 100%;
    margin-top: 10px;
    outline: none;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 6px;
    resize: none;
    font-size: 14px;
    font-weight: 400;
    background: #f3f3f3;
}
footer .popup-box textarea{
    min-height: 140px;
    width: 100%;
    margin-top: 10px;
    outline: none;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 6px;
    resize: none;
    font-size: 14px;
    font-weight: 400;
    background: #f3f3f3;
}
footer .popup-box .button{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.popup-box .button button{
    outline: none;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    background: #6f93f6;
    margin-left: 8px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button button.cancel{
    background: #f082ac;
}
.button button.cancel:hover{
    background: #ec5f95;
}
.button button.send:hover{
    background: #275df1;
}

/*Fin del footer*/

.redes{
    color: #fff;
    display: flex;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 45px;
}
.redes a{
    margin: 0 auto;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    font-size: 24px;
    text-decoration: none;
}
.redes a:hover{
    background: #fff;
    color: #135EF2;
}
@media screen and (max-width: 1240px){
    .productive_title{
        font-size: 5em; 
    }
}
@media screen and (max-width: 1100px){
    .productive_title{
        font-size: 4em; 
    }
    .voz{
        width: 50%;
    }
}
@media screen and (max-width: 800px){
    .productive{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 440px){
    .productive_title{
        font-size: 3em; 
    }
    .voz{
        width: 65%;
    }
}